.center.jumbotron
	%h1 Donate when Trump Tweets
	%h2
		Everytime @RealDonaldTrump sends a tweet, send a donation to your favorite charity.
	= link_to "Start Donating Now!", signup_path, class: "btn btn-lg btn-primary"
.row
	.col-md-12.text-center
		%h3 Thanks Donnie. Your tweets have sent $1,201,253.55 to our causes.
		<a class="twitter-timeline" href="https://twitter.com/RealDonaldTrump"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

