=provide(:title, 'Log In')
.row
  .col-sm-6.col-sm-offset-3
    %h1.text-center
      Sign In
    = render 'layouts/error_explaination_flash'
    = form_for(:session, url: login_path) do |t|
      = t.label :email
      = t.email_field :email, class: "form-control"

      = t.label :password
      = t.password_field :password, class: "form-control"

      = t.submit "Sign In", class: "btn btn-primary"

      %p
        New User?
        =link_to  "Sign up now!", signup_path

