=provide(:title, "Reset Password")
%h1 Reset Password
.row
  .col-md-6.col-md-offset-3
    = form_for(@user, url: password_reset_path(params[:id])) do |f|
      = render 'shared/error_messages'

      =hidden_field_tag :email, @user.email

      =f.label :password
      =f.password_field :password, class: 'form-control'

      =f.label :confirm
      =f.password_field :confirm, class: 'form-control'

      =f.submit "Submit", class: "btn btn-primary"
