=provide(:title, "Forgot Password")
%h1 Reset Password
.row
  .col-md-6.col-md-offset-3
    = form_for(:password_reset, url: password_resets_path) do |f|
      = render 'layouts/error_explaination_flash'
      =f.label :email
      =f.email_field :email, class: 'form-control'

      =f.submit "Submit", class: "btn btn-primary"
