<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Donate when Trump Tweets</title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<h1 th:inline="text">View pledges [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<table>
    <tr>
        <td th:text="${pledge.id}"></td>
        <td th:text="${pledge.amount}"></td>
        <td th:text="${pledge.max}"></td>
        <td th:text="${pledge.charityEin}"></td>
    </tr>
</table>




</body>
</html>