%h1 Donate When Trump Tweets

%p= "Hey #{@user.name}!"

%p Thanks for setting up a Donate When Trump Tweets account! Click on the link below to activate your account:

=link_to "Activate Your Account", edit_account_activation_url(@user.activation_token, email: @user.email)

