="Hey #{@user.name}!,"


Thanks for setting up a Donate When Trump Tweets account! Click on the link below to activate your account:


=edit_account_activation_url(@user.activation_token, email: @user.email)

