%h1 Donate When Trump Tweets

%p= "Hey #{@user.name}!"

%p We got your reset request. Click the link below to reset your password:

=link_to "Reset Password", edit_password_reset_url(@user.password_reset_token, email: @user.email)

