<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Donate when Trump Tweets</title>
</head>
<body>
<h1>Sign Up</h1>
<form th:action="@{/signup}" th:object="${user}" method="post">
    <div>
        <label> Email <input type="text" name="email"/> </label>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">*</span>
    </div>
    <div>
        <label> User Name <input type="text" name="username"/> </label>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">*</span>
    </div>
    <div>
        <label> Password <input type="password" name="password"/> </label>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">*</span>
    </div>
    <div><input type="submit" value="Sign In"/></div>
</form>


</body>
</html>