%header.navbar.navbar-fixed-top.navbar-inverse
	.container
		= link_to "#Resist", root_path, id: "logo"
		%nav
			%ul.nav.navbar-nav.navbar-right
				%li= link_to "Home", root_path
				- if logged_in
					%li= link_to "Users", '#'
					%li.dropdown
						%a{href:"#", class:"dropdown-toggle", :'data-toggle'=>"dropdown"}
							Account
							%b.caret
						%ul.dropdown-menu
							%li= link_to "Profile", current_user
							%li= link_to "Settings", '#'
							%li.divider
							%li= link_to "Sign Out", logout_path, method: :delete
				- else
					%li= link_to "FAQ", faq_path
					%li= link_to "Log In", login_path