!!! HTML
%html
	%head
		%title= full_title yield :title
		= render 'layouts/rails_default'
		= render 'layouts/shim'
	%body
		= render 'layouts/nav'
		.container
			= yield
		= render 'layouts/footer'
		= debug(params) if Rails.env.development?
